<div class="col-md-3 product-card">
    <div class="product-img">
        <img src="assets/images/iphonex.jpg">
    </div>
    <div class="product-name"><%= name%></div>
    <div>Screen Diagonal: <%= screen%></div>
    <div>CPU: <%= cpu%></div>
    <div>Battery m/h: <%= battery%></div>
    <div>Guarantee Period: <%= guarantee%></div>
    <div class="product-price col-xs-6"><%= sale_price%>
        <span class="uah">UAH</span>
    </div>
    <div class="btn btn-buy col-xs-12">Add to Cart</div>
</div>